@page "/"
<ContentHeader>
    <Header>
        <PageTitle Title="Index" />
    </Header>
</ContentHeader>
<ContentMain>
    <div class="col-md-6">
        <Card>
            <Title><CardTitle>Title</CardTitle></Title>
            <Body>
                Contents
            </Body>
        </Card>
    </div>
</ContentMain>